@use '../../../scss/' as *;

.container {
    min-width: 324px;
    overflow: hidden;
    height: 100vh;
    background-color: $bg-color-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .header {
        height: calc(100% - 75px);
    }

    .footer {
        // min-height: 75px;
        background-color: #0B090C;
        padding: 15px 24px 18px 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user {
            display: flex;
            align-items: center;
            gap: 28px;

            img {
                width: 42px;
                height: 42px;
                border-radius: 7px;
                background-color: lightgray 50%;
                background-size: cover;
            }

            h2 {
                color: $text-color-2;
                font-size: 18px;
                font-weight: 700;
            }
        }

        .icon {
            width: 24px;
            height: 24px;
            .icon-down {
                width: 100%;
                height: 100%;
                color: $text-color-4;
                cursor: pointer;
    
                &:hover {
                    transform: rotate(180deg);
                }
            }
        }

    }
}

@media only screen and (min-width: 320px) and (max-width: 598px) {
    .container {
        overflow-x: hidden;
        min-width: 90%;
        width: 94%;
    }
}