@use '../../scss/' as *;

.wrapper {
    margin: 27px 72px;

    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 598px) {
    .wrapper {
        margin: 23px 0;
    }
}