@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

$font-family: 'Noto Sans', sans-serif;

$black-color: #000;
$text-color: #333;
$text-color-2: #828282;
$text-color-3: #e0e0e0;
$text-color-4: #BDBDBD;
$white-color: #fff;
$bg-color: #fafafb;
$bg-color-dark: #120F13;
$bg-color-dark-2: #252329;
$button-color: #2F80ED;
$border-color: #bdbdbd;

$radius-1: 8px;
$radius-2: 12px;

$weight-bold: 600;
$weight-normal: 400;
$letter-spacing: -0.56px;