@use '../../scss/' as *;

.table {
    margin-top: 30px;
    width: 100%;

    div[class*='ant-select-selector'] {
        min-width: 90px;
    }

    div[class*='ant-table-pagination'] {
        display: none !important;
    }
}

.challenge {
    margin-right: 12px;
    background-color: #A72AA3;
    color: #fff;
    padding: 5px 8px;
    border-radius: 8px;

    &:hover {
        color: #fff;
        opacity: .8;
    }
}